* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-color: orange;
    /* border: 1px solid rgb(23, 23, 79); */
}

/* Try to apply background image in future*/
body {
    /* background-image: url("assets/images/Milky-Way-Galaxy copy.jpg"); */
    background: rgb(18, 2, 43);
    font-family: Georgia, 'Times New Roman', Times, serif
}
header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    align-items: center;
    border-top: 5px solid orange;
    color: gold;
    background-color: rgb(23, 23, 79);
}

/* Sets the colors of link items when unvisited, 
visited, and hovered over*/
a:link {
    color: lightgoldenrodyellow;
}

a:visited {
    color: yellow;
}

a:hover {
    color: orangered; 
}

h1 {
    font-size: 75px;
    margin-left: 20px;
    font-weight: bolder;
    font-family: fantasy;
    text-shadow: 3px 4px 5px rgb(23, 23, 79), 0 0 40px goldenrod, 
                0 0 15px rgb(241, 130, 20);
}

nav {
    display: flex;
    color: white;
}

.navigation {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.list {
    margin: 30px;
}


.subtitle {
    display: block;
    text-align: right;
    border-bottom: 5px solid orange;
    border-top: 1px dashed gold;
    font-family: fantasy;
    color: gold;
    text-shadow: 3px 4px 5px rgb(23, 23, 79), 0 0 40px goldenrod, 
                0 0 15px rgb(241, 130, 20);
    background-color: rgb(23, 23, 79);
}

.subtitle h2 {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 50px;
    font-style: italic;
}


.list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

h3 {
    display: flex;
    flex: 0 0 21.2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    font-family: fantasy;

}

main {
    box-sizing: border-box;
    flex: 0 0 100%;
}

main h3 {
    color: gold;
}

.aboutme {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 45%;
    border-bottom: 2px solid goldenrod;
}

.headshot {
    height: 300px;
    width: auto;
    padding: 40px;
}
.bio {
    position: static;
    padding: 50px;
    text-align: justify;
    text-indent: 15px;
    color: white;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin: 30px;    
}

.placeholder:hover {
    background-color: rgb(198, 29, 245);
    
}
.imagetext1 {
    color:rgb(23, 23, 79);
    position: absolute;
    background-color: goldenrod;
    color: rgb(23, 23, 79);
    padding: 30px;
    border-radius: 15px;
}

.imagetext2 {
    position: absolute;
    padding: 30px;
    margin-right: 22pc;
    color: rgb(23, 23, 79);
    background-color: goldenrod;
    border-radius: 15px;
}

.imagetext3 {
    position: absolute;
    background-color: goldenrod;
    color: rgb(23, 23, 79);
    padding: 30px;
    margin-left: 23pc;
    border-radius: 15px;
}

.imagetext4 {
    position: absolute;
    background-color: goldenrod;
    color: rgb(23, 23, 79);
    padding: 30px;
    margin-right: 22pc;
    border-radius: 15px;
}

.imagetext5 {
    position: absolute;
    background-color: goldenrod;
    color: rgb(23, 23, 79);
    padding: 30px;
    margin-left: 22pc;
    border-radius: 15px;
}
.mainproject {
    display: flex;
    justify-content: space-around;
}

.sideproject {
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    padding: 20px;

}


.profiles {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    align-items: center;
    border-top: 5px solid goldenrod;
    font-size: 20px;
    color: white;
    background-color: rgb(23, 23, 79);
}

.profiles::after {
    color: orange;
}

.lefttitle {
    display: flex;
    justify-content: center;
    flex: 0 0 25;
    color: gold;
}

.contactlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 0 0 33%;
    list-style: none;   
}

.form {
    display: flex;
    flex: 0 0 30%;
}

#form {
    margin-bottom: 30px;
}

label {
    display: flex;
    justify-content: flex-start;
    margin: 10px;

}
#pronouns {
    width: 20%;
}

.textarea {
    background-color: rgb(234, 217, 123);
    font-size: 16px;
    resize: none;
}

footer {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    align-content: center;
    font-size: 20px;
    padding: 30px;
    border-top: 5px solid;
    color: goldenrod;
    background-color: rgb(23, 23, 79);
}

@media screen and (max-width: 1200px) {
    header,
    .projects {
        flex-direction: column;
    }    
}

@media screen and (max-width: 900px) {
    .aboutme,
    .contactlinks
     {
        flex-direction: column;
    }
    .headshot {
        width: 300px;
        margin-left: 33%;
    }
}

@media screen and (max-width: 768px){
    .sideproject {
        flex-direction: column;
        }
    }